body{
    
    background-color: rgb(17, 138, 101);
    font-family : 'Gudea',sans-serif;
    color:rgb(178, 235, 218);
  }


#judul {
  margin-top : 2%;
  margin-bottom : 50px;
  text-align: center;
  color:rgb(178, 235, 218);
  opacity : 0.9;
  text-shadow: rgb(6, 54, 40) 2px 2px;
  font-size : 50px;
  word-spacing: 5px;
}  

#chartContainer {
  margin-top : 10%;
  width : 200vw;
  margin-left :5%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  padding : 2%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background: rgb(17, 138, 101);
    /* image to overlay */
   
}
